[submodule "deps/hal"]
	path = deps/hal
	url = https://github.com/glennhickey/hal.git
[submodule "deps/sonLib"]
	path = deps/sonLib
	url = https://github.com/benedictpaten/sonLib.git
[submodule "deps/hal2sg"]
	path = deps/hal2sg
	url = https://github.com/glennhickey/hal2sg.git
[submodule "deps/sg2vg"]
	path = deps/sg2vg
	url = https://github.com/glennhickey/sg2vg.git
